.container {
    padding: 24px;
}

.input-area {
    display: flex;
    gap: 16px;
    // align-items: center;

    h2 {
        margin: 0;
    }
}

.display-area {
    display: flex;
    height: calc(100vh - 180px);

    > div {
        width: 30%;
        padding: 8px;
        height: inherit;
        overflow: auto;
    }

    > * {
        margin-bottom: 16px;
    }

    > app-map-display {
        width: 70%;
        height: inherit;
    }
}